[run]
branch = True
omit =
    */tests/*
    */__init__.py
    src/euchre/utility/custom_json_serializer.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    def __json__
    if __name__ == .__main__.:
